*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
}

/* form styling */

input,
button,
textarea {
  font-family: inherit;
  font-size: 1rem;
  resize: none;
}

.message-box {
  display: flex;
  flex-direction: column;
  flex: content;
  justify-content: center;
}

.btn-send {
  margin-top: 1rem;
}
