/*******************************
CSS main
********************************/

/* global styling */

/*
    Choose the colours you want for the calculator here.
    Usage examples:
    color: var(--fg-clr-normal); 
    background: var(--bg-clr-light);
    fg: foreground
    bg: background
    line: line color
*/

:root {
  --fg-clr-normal: #111; /* standard for text */

  --bg-clr-light: white;
  --bg-clr-gray: white;
  --bg-clr-iceblue: rgb(90, 175, 250);

  --line-clr-blue: black;
  --line-clr-darkgray: rgb(50, 93, 107);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /*main container for the whole page*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
}

.main {
  /*calc body*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bg-clr-iceblue);
  border: 2px solid var(--line-clr-blue);
  min-width: 20%;
  min-height: 35%;
  padding: 1rem;
  border-radius: 1rem;
}

.calc-btn {
  /*calc buttons*/
  height: 100%;
  width: auto;
  font-size: clamp(1rem, 1vw, 2rem);
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: white;
}

.calc-screen {
  display: flex; /*Make sure the digits are centered in the middle*/
  flex: 1;
  align-items: center; /*calculator screen*/
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(
    0.55rem,
    2vw,
    3.5rem
  ); /*clamp is useful if you want the page to be responsive. (minimum size, preferred size, max size) */
  box-shadow: inset 1px 1px 0px var(--bg-clr-gray); /*inset means that the shadow is inside the element - not outside - used here to create the illusion of a real screen - feel free to remove and see what you like best */
  width: 100%;
  height: clamp(1rem, 3vw, 4rem);
  border: 1px solid var(--line-clr-darkgray);
  background: var(--bg-clr-light);
  color: var(--fg-clr-normal);
  padding: 0.125rem;
  border-radius: 1rem;
}

/* specifically for grid */

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-4 {
  grid-column: span 4;
}
